body {
    width: 1000px;
	margin: auto;
	background-color: #444444;
	color: #bbbbbb;
	font-family: 'Lato', sans-serif;
	font-size: 16 px;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Images container */
.slideshow-container {
    max-width: 207px;
    position: relative;
    margin: auto;
}

/* Main title */
.text {
    color: #444;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
}

.active,
.dot:hover {
    background-color: #bbb;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .35}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .35}
    to {opacity: 1}
}

article {
	padding:0 10px;
}

section
{
	width: 800 px;
	color: #aaaaaa;
	margin: 10px;
	padding: 10px;
	text-align: justify;
}

header, main, footer {
	margin: 0 auto;
}

header {
	padding: 20px;
	text-align: center;
  }

header section {
	margin: 0 auto;
}

#MyStrengths {
    display:none;
}
